

body > main {
    /* padding-left: 1px; */
    padding-top: 50px;
    padding-bottom: 80px;
    padding-left: 40px;
  }


  body > main > form > div {
    padding-bottom: 2px;
    padding-bottom: 5px;
    padding-bottom: 10px;
    
    }

body > main > form > input {
    margin-left: 60px;
    margin-left: 0px;
    background-color:lightblue;;
 }
  