.cabecera {
    display:flex;
   }

#soelse_letras_derecha {
    margin-left: 10px;
    margin-top: 10px;
}

html {
    background-color: rgb(204, 204, 204);
}

body{
    background-color: white;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 5px;
}



#boton_volver{
    display: flex;
    margin-top: 85px;
    margin-left: 1150px;
}

#botones {
    display: flex;
}